<div class="ui doubling five column grid">
#{list items:_station, as:'station'}
  <div class="equal height row">
    <div class="stretched column">
      <div class="ui inverted segment">
        <div class="ui two column stackable grid">
          <div class="column">
            <h3 class="ui header inverted">${station.name}</h3>
            <p>Lat: ${station.latitude.round(3)} <br> Lng: ${station.longitude.round(3)}</p>
          </div>
          <div class="column">
            <i class="violet huge marker sun icon"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="stretched column">
      <div class="ui inverted segment">
        <div class="ui two column stackable grid">
          <div class="column">
            <h3 class="ui header inverted">Weather</h3>
            <p>${station.latestReadings?.weatherCondition}</p>
          </div>
          <div class="column">
            <i class="red huge ${station.weatherConditionIcon(station.latestReadings?.weatherCondition)} icon"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="stretched column">
      <div class="ui inverted segment">
        <div class="ui two column stackable grid">
          <div class="column">
            <h3 class="ui header inverted">Temp</h3>
            #{if station.latestReadings}
              <p>${station.latestReadings?.temperature} C <br> ${station.latestReadings?.temperatureInF} F</p>
              <p>Max: ${station.temperatureMax} <br> Min: ${station.temperatureMin}</p>
            #{/if}
          </div>
          <div class="column">
            <i class="blue temperature low fitted huge icon"></i>
            <i class="blue ${station.trend?.get("temperature")} fitted big icon"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="stretched column">
      <div class="ui inverted segment">
        <div class="ui two column stackable grid">
          <div class="column">
            <h3 class="ui header inverted">Wind</h3>
            #{if station.latestReadings}
              <p>${station.latestReadings?.windInBeaufort} bft</p>
              <p>${station.latestReadings?.windCompass}</p>
              <p>Feels like <br> ${station.latestReadings?.windChill}</p>
              <p>Max: ${station.windSpeedMax} <br> Min: ${station.windSpeedMin}</p>
            #{/if}
          </div>
          <div class="column">
            <i class="green wind fitted huge icon"></i>
            <i class="green ${station.trend?.get("wind")} fitted big icon"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="stretched column">
      <div class="ui inverted segment">
        <div class="ui two column stackable grid">
          <div class="column">
            <h3 class="ui header inverted">Pressure</h3>
            #{if station.latestReadings}
              <p>${station.latestReadings?.pressure} hpa</p>
              <p>Max: ${station.pressureMax} <br> Min: ${station.pressureMin}</p>
            #{/if}
          </div>
          <div class="column">
            <i class="orange arrows alternate fitted huge icon"></i>
            <i class="orange ${station.trend?.get("pressure")} fitted big icon"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
#{/list}
</div>
