<div class="ui doubling five column grid">
#{list items:_station, as:'station'}
    #{list items:utils.StationUtils, as:'util'}
      <div class="equal height row">
        <div class="stretched column">
          <div class="ui inverted segment">
            <div class="ui two column stackable grid">
              <div class="column">
                <h3 class="ui header inverted">${station.name}</h3>
                <p>Lat: ${station.latitude.round(3)} <br> Lng: ${station.longitude.round(3)}</p>
              </div>
              <div class="column">
                <i class="violet huge marker sun icon"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="stretched column">
          <div class="ui inverted segment">
            <div class="ui two column stackable grid">
              <div class="column">
                <h3 class="ui header inverted">Weather</h3>
                <p>${util.getWeatherCondition(util.getLatestReading(station.readings))}</p>
              </div>
              <div class="column">
                <i class="red huge ${util.weatherConditionIcon(util.getWeatherCondition(util.getLatestReading(station.readings)))} icon"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="stretched column">
          <div class="ui inverted segment">
            <div class="ui two column stackable grid">
              <div class="column">
                <h3 class="ui header inverted">Temp</h3>
                  #{if util.getLatestReading(station.readings)}
                    <p>${util.getLatestReading(station.readings).temperature} C
                      <br> ${util.getTemperatureInF(util.getLatestReading(station.readings).temperature)}
                      F</p>
                    <p>Max: ${util.getMinMaxValues(station).get("temperatureMax")} <br> Min: ${util.getMinMaxValues(station).get("temperatureMin")}</p>
                  #{/if}
              </div>
              <div class="column">
                <i class="blue temperature low fitted huge icon"></i>
                <div class="ui center aligned inverted segment">
                  <i class="blue ${util.updateTrends(station)?.get("temperature")} fitted big icon"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="stretched column">
          <div class="ui inverted segment">
            <div class="ui two column stackable grid">
              <div class="column">
                <h3 class="ui header inverted">Wind</h3>
                  #{if util.getLatestReading(station.readings)}
                    <p>${util.calculateBeaufort(util.getLatestReading(station.readings).windSpeed)}
                      bft</p>
                    <p>${util.getCardinalDirection(util.getLatestReading(station.readings).windDirection)}</p>
                    <p>Feels like <br>
                    ${util.windChill(util.getLatestReading(station.readings).temperature, util.getLatestReading(station.readings).windSpeed)}
                    </p>
                    <p>Max: ${util.getMinMaxValues(station).get("windSpeedMax")} <br> Min: ${util.getMinMaxValues(station).get("windSpeedMin")}</p>
                  #{/if}
              </div>
              <div class="column">
                <i class="green wind fitted huge icon"></i>
                <div class="ui center aligned inverted segment">
                  <i class="green ${util.updateTrends(station)?.get("wind")} fitted big icon"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="stretched column">
          <div class="ui inverted segment">
            <div class="ui two column stackable grid">
              <div class="column">
                <h3 class="ui header inverted">Pressure</h3>
                  #{if util.getLatestReading(station.readings)}
                    <p>${util.getLatestReading(station.readings)?.pressure} hpa</p>
                    <p>Max: ${(int)util.getMinMaxValues(station).get("pressureMax")} <br> Min: ${(int)util.getMinMaxValues(station).get("pressureMin")}</p>
                  #{/if}
              </div>
              <div class="column">
                <i class="orange arrows alternate fitted huge icon"></i>
                <div class="ui center aligned inverted segment">
                  <i class="orange ${util.updateTrends(station)?.get("pressure")} fitted big icon"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    #{/list}
#{/list}
</div>
