<table class="ui fixed table">
  <thead>
  <tr>
    <th>Date/Time</th>
    <th>Code</th>
    <th>Temp</th>
    <th>Wind Speed</th>
    <th>Wind Direction</th>
    <th>Pressure</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  #{list items:_station.readings, as:'reading'}
  <tr>
    <td>
    ${reading.date}
    </td>
    <td>
    ${reading.code}
    </td>
    <td>
    ${reading.temperature.round(1)}
    </td>
    <td>
    ${reading.windSpeed.round(1)}
    </td>
    <td>
    ${reading.windDirection}
    </td>
    <td>
    ${reading.pressure}
    </td>
    <td>
      <a href="/stations/${_station.id}/deletereading/${reading.id}" class="ui button icon"><i
          class="red trash icon"></i></a>
    </td>
  </tr>
  #{/list}
  </tbody>
</table>