#{extends 'main.html' /}
#{set title:'Home' /}

#{menu id:"start"/}

<section class="ui aligned segment">
  <h1 class="ui header">
    Welcome to WeatherTop 1000
  </h1>
  <img class="ui fluid image" src="/public/images/weather.jpg" alt="image of weather types">
  <br>
  <p>Web application designed to work with <i>WeatherTop 1000</i>. Displaying its reading data. Stations or its readings
    can be deleted, or new ones populated. <br> All readings data can be found in <a href="/dashboard">dashboard
      view</a>, where it is being nicely displayed in a table next to the station that holds the data.</p>
</section>
